.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://i.imgur.com/OW65T7q.png);
    background-repeat: no-repeat;
    width: 90wh;
    min-height: calc(130vh - 60px - 159px);
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}